<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Upload</div>

                    <div class="card-body">
                        <div class="alert alert-danger" v-if="failed">
                            {{ errorMessage }}
                        </div>

                        <div class="form-control">
                            <input type="file" name="video" id="video" @change="fileInputChange" v-if="!uploading">
                        </div>


                        <div id="video-form" v-if="uploading && !failed">
                            
                            <div class="alert alert-info" v-if="!uploadingComplete">
                                Your video will be available at 
            <a v-bind:href="$root.url+'/videos/'+uid " target="_blank">{{ $root.url }}/videos/{{ uid }}</a>.
.
                            </div>
                            <div class="alert alert-success" v-if="uploadingComplete">
                                Uploading complete. Video is now preccessing.
                                <a v-bind:href="$root.url+'/videos/'+uid ">
                                    Go to yur video
                                </a>.
                            </div>

                            <div class="progress" v-if="!uploadingComplete">
                                <div class="progress-bar" v-bind:style="{ width: fileProgress + '%'}"></div>
                            </div>

                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" v-model="title">
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" v-model="description">
                            </div>

                            <div class="form-group">
                                <label for="visibility">Visibility</label>
                                <select name="visibility" id="visibility" v-model="visibility">
                                    <option value="private">Private</option>
                                    <option value="unlisted">Inlisted</option>
                                    <option value="public">Public</option>
                                </select>
                            </div>

                            <span class="help-block float-right">{{ saveStatus }}</span>

                            <button class="btn btn-default" type="submit" @click.prevent="update">
                                Save Changes
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
Vue.http.options.credentials = true;

    export default {
        data() {
            return {
                uid: null,
                uploading: false,
                uploadingComplete: false,
                failed: false,
                title: 'Untitled',
                description: null,
                visibility: 'private',
                saveStatus: null,
                fileProgress: 0,
                errorMessage: 'Something wnt wrong. Please try again',
            }
        },
        ready(){
            window.onbeforeunload = (e) => {
                if (this.uploading && !this.uploadingComplete && !this.failed) {
                    // return 'Are you sure you want to navigate away?';
                    $(window).bind('beforeunload', function(event) { return 'pls save ur work'; });
                }
            }
        },
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'),
            'Access-Control-Allow-Credentials': true
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            fileInputChange() {
                this.uploading = true;
                this.failed = false;

                this.file = document.getElementById('video').files[0];

                if (this.file.size > 30000000) {
                    this.errorMessage = 'File size iz greather than 35mb. Please upload smaller video. Thank you';
                    this.uploading = false;
                    this.failed = true;
                    return false;
                }

                this.store().then( ()=>{
                    var form = new FormData();
                    form.append('video', this.file);
                    form.append('uid', this.uid);
                    form.append('_token', $('meta[name="csrf-token"]').attr('content'));

                    this.$http.post('/upload', form, {
                        progress: (e) => {
                            if (e.lengthComputable) {
                                // console.log(e.loaded + ' ' + e.total);
                                this.updateProgress(e);
                            }
                        }
                    }).then(()=>{
                        this.uploadingComplete = true;
                        this.uploading = false;
                    }, () => {
                        this.failed = true;
                        this.uploadingComplete = false;
                    });
                }, ()=>{
                    this.failed = true;
                });

                // store the metadata

            }, 
            store(){

                return this.$http.post('/videos', {
                    'Access-Control-Allow-Credentials': true,
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'),
                    _token: $('meta[name="csrf-token"]').attr('content'),
                    title: this.title,
                    description: this.description,
                    visibility: this.visibility,
                    extension: this.file.name.split('.').pop()
                }).then((response)=>{
                   // this.uid = response.getJSON().data.uid;
                   // console.log('Video UID ' + this.uid);
                   this.uid = response.body.data.uid;
                });
            },
            update(){
                this.saveStatus = "Saving changes...";

                return this.$http.put('/videos/' + this.uid, {
                    _token: $('meta[name="csrf-token"]').attr('content'),
                    title: this.title,
                    description: this.description,
                    visibility: this.visibility,
                }).then((response)=>{
                    this.saveStatus = "Changes saved.";

                    setTimeout(()=>{
                        this.saveStatus = null;
                    }, 3000);
                }, () => {
                    this.saveStatus = "Failed to save changes.";
                });
            },
            updateProgress(e){
                e.percent = (e.loaded / e.total) * 100;
                this.fileProgress = e.percent;
            },

        },
    }
</script>
